@{
    var Model = ViewData["TokenData"] as List<Domain.TokenRegistration>;

    ViewBag.Title = "Home Page";
}

@*<div class="col-md-12">
        @foreach(var item in P)
                {
                    <div>item</div>
                }
    </div>*@

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table border="1" cellpadding="4" cellspacing="4">
    <tr>
        <th style="background-color: orange;color: blue">
            Name
        </th>
        <th style="background-color: orange;color: blue">
            CounterNumberID
        </th>
        <th style="background-color: orange;color: blue">
            TokenNumber
        </th>
        <th style="background-color: orange;color: blue">
            Date
        </th>
        <th style="background-color: orange;color: blue">
            DepartmentID
        </th>
        <th style="background-color: orange;color: blue">
            Gender
        </th>
        <th style="background-color: orange;color: blue">
            Mobile
        </th>
        <th style="background-color: orange;color: blue">
            Payment
        </th>
        <th style="background-color: orange;color: blue">
           IsActive
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CounterNumberID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TokenNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mobile)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Payment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
</tr>

    }
</table>